{
  "extends": "eslint-config-egg",
  "rules": {
    "comma-dangle": 0,
    "prefer-template": 0,
    "no-useless-escape": 0,
    "no-alert": 0,
    "no-continue": "off",
    "react/self-closing-comp": 0,
    "jsx-quotes": [2, "prefer-single"],
    "implicit-arrow-linebreak": 0,
    "react/no-access-state-in-setstate": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "react/jsx-wrap-multilines": 0,
    "react/jsx-one-expression-per-line": 0,
    "operator-linebreak": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "react/destructuring-assignment": "[<enabled>, 'never']",
    "global-require": 0,
    "no-unused-vars": 1,
    "import/no-mutable-exports": "off",
    "react/jsx-no-target-blank": [0, { "enforceDynamicLinks": "never" }],
    "react/button-has-type": 0,
    "function-paren-newline": 0,
    "object-curly-newline": 0,
    "quote-props": "off",
    "space-before-function-paren": 0,
    "no-confusing-arrow": 0,
    "no-await-in-loop": 0,
    "no-debugger": 1,
    "react/no-multi-comp": 0,
    "no-underscore-dangle": 0,
    "no-nested-ternary": 0,
    "no-bitwise": "off",
    "react/prop-types": 0,
    "no-shadow": 0,
    "arrow-parens": 0,
    "no-case-declarations": 0,
    "generator-star-spacing": 0,
    "max-len": "off",
    "func-names": 0,
    "no-console": 0,
    "import/prefer-default-export": 0,
    "react/no-string-refs": 0,
    "consistent-return": 0,
    "no-plusplus": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "react/no-array-index-key": 0,
    "no-mixed-operators": 0,
    "no-param-reassign": 0,
    "extends": 0,
    "semi": [2, "never"],
    "jsx-a11y/click-events-have-key-events": 0,
    "no-unused-expressions": [2, { "allowShortCircuit": true, "allowTernary": true }],
    "no-mixed-spaces-and-tabs": "off",
    "no-tabs": "off",
    "prefer-const": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/require-default-props": 0,
    "react/sort-comp": "off",
    "prefer-destructuring": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "linebreak-style": ["off", "window"],
    "import/no-named-as-default": 0,
    "no-return-assign": "off",
    "no-restricted-globals": "off",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "ForInStatement",
        "message": "for..in loops iterate over the entire prototype chain, which is virtually never what you want. Use Object.{keys,values,entries}, and iterate over the resulting array."
      },
      {
        "selector": "LabeledStatement",
        "message": "Labels are a form of GOTO; using them makes code confusing and hard to maintain and understand."
      },
      {
        "selector": "WithStatement",
        "message": "`with` is disallowed in strict mode because it makes code impossible to predict and optimize."
      }
    ]
  }
}
